<h3>Ember Slots</h3>

<div class="fancy">
  <div class="jSlots-wrapper">
    {{#view App.SlotView viewName="slot"}}
        <li><span>A</span></li>
        <li><span>B</span></li>
        <li><span>C</span></li>
        <li><span>D</span></li>
    {{/view}}
  </div>
</div>
<hr/>

