<h3>SLOTS</h3>
<div class="fancy">
    <ul class="slot">
        <!-- In reverse order so the 7s show on load -->
        <li><span>H</span></li>
        <li><span>hotel</span></li>
        <li><span>food</span></li>
        <li><span>cheese</span></li>
        <li><span>culture</span></li>
        <li><span>diapers</span></li>
        <li><span>cherry</span></li>
    </ul>
    <input type="button" id="playFancy" value="Play">
</div>
<hr/>